<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      #map {
        height: 500px;
        weight: 400px;
      }
    </style>
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome Columbia Second Hand</title>

    <!-- Bootstrap core CSS -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Columbia Market :)</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/newuser">New user</a>
            </li>
            <li>
              <a href="/returnuser">{{data2}}</a>
            </li>
            <li>
              <a href="/post">Post item</a>
            </li>
            <li>
              <a href="/seeproduct">Shop</a>
            </li>
            <li>
              <a href="/myproducts">My products</a>
            </li>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{data}}</h1>
        <p>Welcome to this sharing website. If you are new here, please press the button "New user" to register as a customer. To login press button "login". </p>
        <p>Once you login, press "Post item" if you have product to sell(seller).</p>
        <p>Once you login, press "Shop" if you want to find something to buy(buyer).</p>
        <p>Once you login, press "My products" if you want to see the product you have bought and give feedbacks(buyer).</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <form class="navbar-form navbar-right" name="myform" method="POST" action="/post">
            
            <!-- <div class="form-group">
            <button type="submit" class="btn btn-success">Post an item</button><button type="submit" class="btn btn-success">Go shopping</button>
          </div> -->
          </form>
        </div>
      </div>
      <hr>

      <footer>
        <p>Database 2016 Spring</p>
      </footer>
    </div> <!-- /container -->
            
  </body>
</html>
